name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: ManolisDia
          template: classic
          base: header, activity, community, repositories, metadata
          
          plugin_languages: yes
          plugin_languages_details: percentage
          
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 30
          plugin_languages_recent_load: 400
          plugin_languages_recent_days: 365
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: year
          
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes

          repositories_affiliations: owner, collaborator, organization_member

